$border-color: #ddd;
$border-radius: 8px;
$banner-width-left: 80px;
$banner-width-right: 30px;

.ui-audit-log {
	position: relative;

	.ui-audit-item {
		position: relative;
		border-top: 1px solid $border-color;
		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;
		width: 300px;
		min-height: 80px;
		padding: 4px;
		overflow: hidden;
		cursor: pointer;

		&:first-child {
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
		}

		&:last-child {
			border-bottom: 2px solid $border-color;
			border-bottom-left-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}

		.region-left {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			top: 0;
			bottom: 0;
			left: 0;
			width: $banner-width-left;
			font-size: 18px;
			background-color: #fafafa;

			i {
				font-size: 22px;
				color: #449;
			}
		}

		.region-body {
			padding-left: $banner-width-left;
			padding-right: $banner-width-right;
			padding-top: 4px;
			padding-bottom: 20px;
		}

		.region-footer {
			position: absolute;
			bottom: 3px;
			left: $banner-width-left;
			right: $banner-width-right;
			padding-left: 6px;
			padding-right: 6px;
		}

		.region-right {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			top: 0;
			bottom: 0;
			right: 0;
			width: $banner-width-right;

			&.success {
				background-color: lightgreen;
				color: darkgreen;
			}

			&.fail {
				background-color: pink;
				color: red;
			}
		}
	}
}
