$banner-width-left: 30px;
$banner-width-right: 30px;

.ui-workflow {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;

	width: 800px;
	height: 1150px;

	.ui-arrow {
		position: absolute;
		color: #888;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
	}

	.ui-node {
		position: absolute;
		border-radius: 6px;
		display: flex;
		justify-content: center;
		text-align: center;
		user-select: none;
		border: solid 2px lightgray;
		overflow: hidden;

		.region-left {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			top: 0;
			bottom: 0;
			left: 0;
			width: $banner-width-left;
			font-size: 18px;
			background-color: #fafafa;

			i {
				font-size: 22px;
				color: #449;
			}
		}

		.region-body {
			position: absolute;
			top: 0;
			bottom: 0;
			left: $banner-width-left;
			right: $banner-width-right;
			padding-top: 4px;
			padding-left: 4px;
			padding-right: 4px;
		}

		.region-right {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			top: 0;
			bottom: 0;
			right: 0;
			width: $banner-width-right;

			&.success {
				background-color: lightgreen;
				color: darkgreen;
			}

			&.failed {
				background-color: pink;
				color: red;
			}
		}
	}
}
