$title-height: 38px;
.ui-toolbar-window {
	position: absolute;

	top: 1px;
	bottom: 0;
	left: 0;
	right: 0;

	.ui-toolbar-title {
		position: absolute;
		display: flex;
		height: $title-height;
		top: 0;
		left: 0;
		right: 0;
	}

	.ui-toolbar-body {
		position: absolute;
		display: flex;

		top: $title-height;
		left: 0;
		right: 0;
		bottom: 0;

		overflow: auto;
	}
}

$keyWidth: 50px;
$border-color: #ddd;

.ui-entity {
	position: relative;
	border: solid 2p red;

	.region-key {
		display: flex;
		position: absolute;
		align-items: center;
		justify-content: center;
		font-weight: bolder;
		left: 0;
		top: 0;
		color: #888;
		bottom: 0;
		width: $keyWidth;
		background-color: #eee;
		border-right: solid 1px $border-color;
	}
	.region-body {
		padding-left: $keyWidth;
	}

	.region-edit-commands {
		position: absolute;
		top: 8px;
		right: 8px;
	}
}
