$panel-left-width: 300px;
$panel-right-width: 300px;
$header-height: 56px;
$transition-speed: 0.45s;

.ui-drawer-panels {
	.ui-panel-left {
		position: fixed;
		top: $header-height;
		bottom: 0;
		left: -$panel-left-width;
		width: $panel-left-width;
		border-right: solid 1px #ddd;
		z-index: 10;
		background-color: #fff;
		transition: left $transition-speed ease-in-out;

		&.open {
			left: 0;
		}
	}

	.ui-panel-right {
		z-index: 10;
		background-color: #fff;
		position: fixed;
		top: $header-height;
		bottom: 0;
		right: -$panel-right-width;
		width: $panel-right-width;
		border-left: solid 1px #ddd;
		transition: right $transition-speed ease-in-out;

		&.open {
			right: 0;
		}
	}

	.ui-body {
		margin-top: $header-height;
		margin-left: 0;
		margin-right: 0;

		transition: margin-left $transition-speed ease-in-out, margin-right $transition-speed ease-in-out;

		&.left-open {
			margin-left: $panel-left-width;
		}
		&.right-open {
			margin-right: $panel-right-width;
		}
	}
}
